
# Node.js dependencies
node_modules/

# Environment variables
.env

# Log files
*.log

# OS-specific files
.DS_Store

# Build outputs
dist/

# Playwright-specific files
test-results/         # Directory for test results
playwright-report/    # Playwright HTML reports
trace.zip             # Trace files for debugging
videos/               # Recorded videos of tests
screenshots/          # Screenshots taken during tests

# IDE-specific files
.idea/                # IntelliJ IDEA project settings
.vscode/              # VSCode project settings
